# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/

# Ambiente
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
.cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Configurações locais com credenciais
docs/
